.banner {
    width: 450px;
    height: 575px;
    background-color: var(--gray);
    border-radius: 3em;
    padding: 1.5em 1.875em;
    margin-right: 2.5em;
}

.banner:last-child {
    margin-right: 0;
}



.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.plus-img {
    margin-bottom: 1.25em;
}

.banners {
    display: flex;
}

@media (max-width: 541px) {
    .banners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .banner {
        margin-right: 0;
    }
    .right {
        height: 250px;
    }
}